#company-edit
  input, textarea
    font-size: 12px

  input[type="text"], input[type="number"], textarea
    background-color: white
    border: solid lightblue 1px
    border-radius: 3px
    padding: 5px
    &.has-error
      border: 1px solid $brand-danger
      border-bottom: 3px solid $brand-danger
  .icon
    width: 40px

  .short-input
    width: 150px
  .long-input
    width: 90%
  .link-input
    width: 90%

  .has-error .select2-selection
    border: 1px solid $brand-danger
    border-bottom: 3px solid $brand-danger
    border-radius: 4px

  div.form-group
    margin-bottom: 20px
  .big-textarea
    height: 200px


  .photo-edit
    position: absolute
    bottom: 20px
    left: 20px
    margin: auto
    .btn
      width: 100px
      background: rgba($brand-warning, 0.8)
