.profile-pic
  position: relative
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  height: 0
  padding-bottom: 100%
  width: 100%
  margin-bottom: 20px

#graduates-edit


  .photo-edit
    position: absolute
    bottom: 20px
    left: 20px
    margin: auto
    .btn
      width: 100px
      background: rgba($brand-warning, 0.8)


  input, textarea
    font-size: 12px

  input[type="text"], input[type="number"], textarea
    background-color: white
    border: solid lightblue 1px
    border-radius: 3px
    padding: 5px
    &.has-error
      border: 1px solid $brand-danger
      border-bottom: 3px solid $brand-danger
  .icon
      width: 40px


  .select-dob
    width: 80px
  .short-input
    width: 150px
  .long-input
    width: 90%
  .link-input
    width: 90%

  .has-error .select2-selection
    border: 1px solid $brand-danger
    border-bottom: 3px solid $brand-danger
    border-radius: 4px

