.header-image
  position: relative
  padding-top: 40%
  margin-bottom: 20px
  border-radius: 5px
  background:
    image: url("../images/LIU_campus.jpg")
    size: cover
    repeat: no-repeat
    position: center
  @media (max-width: $screen-sm-max)
    padding-top: 50%

  > div.welcome
    background-color: rgba(black , 0.3)
    border-radius: 5px
    width: 50%
    color: white
    //text-shadow: 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white
    font-family: 'Bree Serif', serif
    font-weight: 100
    margin: 20px
    padding: 20px
    position: absolute
    top: 0
    left: 0
    @media (max-width: $screen-sm-max)
      margin: 10px
      padding: 10px
      width: 60%
    @media (max-width: $screen-xs-max)
      margin: 10px
      padding: 10px
      width: 60%
    h1, h2
      margin-top: 0
      margin-bottom: 10px
      color: white
      @media (max-width: $screen-sm-max)
        font-size: 20px
      @media (max-width: $screen-xs-max)
        font-size: 15px
    p
      text-shadow: none
      font-size: larger
      width: 90%
      font-family: "Gill Sans", "Gill Sans MT", sans-serif
      @media (max-width: $screen-sm-max)
        font-size: 15px
      @media (max-width: $screen-xs-max)
        font-size: 8px



  > img
    position: absolute
    bottom: 0
    right: 0
    width: 150px
    margin: 10px
    @media (max-width: $screen-sm-max)
      width: 120px
    @media (max-width: $screen-xs-max)
     width: 100px

.list-group.panel-list
  height: 200px
  overflow-y: scroll

.intro
  background-color: #f6f6f6
  border-radius: 5px

