a.btn-readmore
  margin-bottom: 10px
  margin-right: 10px

.tags.post-tags .tag:after
  background: white

.post-image
  max-height: 400px

.select-tags
  width: 100%

.alert .list-group-item
  background-color: inherit
  border: none
