*
  outline: none

*:focus
  outline: 0

button:focus
  outline: 0

.chosen-container, .icon-form
  text-align: left
  font-family: 'FontAwesome', 'sans-serif'


.info-box > .info-box-icon
  padding-top: 20px

.select2-container--default .select2-selection--multiple .select2-selection__choice
  color: black !important

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
  padding: 3px 6px !important

#errors-list
  li
    background: none
    border: none


.form-links
  .link-input
    margin-bottom: 5px
  .fa
    width: 20px
  .input-group-addon
    border: none


table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover
  cursor: pointer

table.dataTable.display tbody td
  .label
    font-size: 11px
    display: inline-block
    margin: 5px auto


table.dataTable.display.small tbody td
  font-size: 12px

table.dataTable.display.small th
  font-size: 12px


table.dataTable.display.smaller tbody td
  font-size: 11px

table.dataTable.display.smaller th
  font-size: 11px


table.dataTable.display.smallest tbody td
  font-size: 10px

table.dataTable.display.smallest th
  font-size: 10px

.action-modal .modal-body .modal-field
  margin: 7px 0
  .fa
    font-size: 2em

.action-modal .modal-body span, .action-modal .modal-body span div
  font-size: 12px
  display: inline

div.link-icons
  i.fa
    margin: 3px
    font-size: 15px


div.media
  margin: 20px 0

.dz-image-preview
  width: 95%
  height: 200px
  .dz-image
    width: 100% !important
    height: 200px !important
