footer {
  background-color: $brand-dark;
  border-top: solid 5px $brand-primary;
  color: white;
  padding-bottom: 25px;
  p {
    clear: both;
    text-align: left;
    margin: 25px auto 0;
    font-size: 10px;
    .navbar-brand {
      opacity: 0.5;
      color: white;
      font-weight: 100;
      text-transform: capitalize;
      font-size: 16px;
      @include transition-all();
      &:focus,
      &:hover {
        opacity: 1;
      }
      .brand-logo {
        width: 30px;
        height: 30px;
        float: left;
        margin: -10px 10px 0 19px;;
        display: block;
        background-image: url('../images/logo.png');
        background-position: top;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include transition-all();
        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  #copyright {
    color: grey;
    margin-left: 35px;
    margin-top:0;
  }
  #designer {
    margin-left: 35px;
    margin-top: 30px;
    color: grey;

    p {
      padding: 0;
      margin: 0;
      font-size: 14px;
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
    }

    p.myname {

      color: transparentize(white, 0.7);
      @include pt-serif-font();
      font-weight: 300;
      @include transition-all();
      &:hover{
        color: white;
        transform: scale(1.2);
      }

    }
    p.desc{
      @include bree-serif-font();
      font-size: 10px;
    }
    a {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      font-size: 8px;
      border-radius: 50%;
      background-color: white;
      margin: 0 10px 0 0;
      float: left;
      padding-top: 2px;
      top:2px;
      color: $brand-dark;
      opacity: 0.8;
      @include transition-all();
      @media (min-width: 768px) {
        opacity: 0.6;
      }
      &:hover {
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 15px white;
        opacity: 1;
        transform: scale(1.2);

      }
    }



  }

}